---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import myPic from "src/assets/Steven_Kell.jpg";
import Gallery from "src/components/Gallery";
const images = [
	{ src: "src/assets/20250814_0191.jpg", alt: "A sunset over mountains" },
	{ src: "src/assets/20250814_0197.jpg", alt: "City skyline at night" },
	{ src: "src/assets/20250814_0233.jpg", alt: "Unknown image 0233" },
	{ src: "src/assets/20250814_0236.jpg", alt: "Unknown image 0236" },
	{ src: "src/assets/20250814_0294.jpg", alt: "Unknown image 0294" },
	{ src: "src/assets/20250814_0307.jpg", alt: "Unknown image 0307" },
	{ src: "src/assets/20250814_0404.jpg", alt: "Unknown image 0404" },
	{ src: "src/assets/20250814_0414.jpg", alt: "Unknown image 0414" },
	{ src: "src/assets/20250816_0010.jpg", alt: "Unknown image 0010" },
	{ src: "src/assets/20250816_0042.jpg", alt: "Unknown image 0042" },
	{ src: "src/assets/20250816_0066.jpg", alt: "Unknown image 0066" },
	{ src: "src/assets/20250816_0092.jpg", alt: "Unknown image 0092" },
	{ src: "src/assets/Steven_Kell.jpg", alt: "Portrait of Steven Kell" },
];
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<header>
		<div class=" grid py-0.5 text-center justify-center 2xl:max-w-5xl">
			<h1 class="py-0.5">Steven Kell</h1>
			<p class="py-1">
		 		Committed to growing the open-source community
			</p>
			<Picture src={myPic} alt="Me" class=" w-1/4 py-2 border-amber-500  rounded-2xl  "/>
				<Gallery client:load images={images} />
			    
		</div>
	</header>
</Layout>
