---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Steven Kell's Blog</title>
	</head>
	<body class="bg-linear-[361deg,red_5%,orange_60%,yellow_90%,orange]">
		<nav >
			<ul class="flex items-center justify-around p-3 ">
				<li><a href="#">Home</a></li>
				<li><a href="showcase">Showcase</a></li>
				<li><a href="about">About</a></li>
			</ul>
		</nav>

		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Inter, sans-serif';
	}
</style>
